html, body {
    height: 100%;
    margin: 0;
}

body {
  background-color: #1e1e24;
  font-family: Arial, sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #4104d1;
  color: white;
  padding: 15px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #1f73bd;
}

.top-section {
   display: flex;
   align-items: center;
   justify-content: center; 
   gap: 20px;
   padding: 40px 20px;
   flex-wrap: wrap;
}

img.cu {
    width: 75px;
    max-width: 20vw;
    height: auto;
}

a.btn {
    font-size: larger;
    color: #1f73bd;
}

.txt {
    text-align: center;
}

.txt h2 {
    font-size: 28px;
}

.txt p {
    font-size: 18px;
    color: #cccccc;
}

ul.pons {
   text-align: right;
   direction: rtl;
   font-size: 18px;
   padding: 10px;
   margin: 10px;
}

ul.pons li {
    margin-top: 7px;
}

main {
  padding: 20px;
  text-align: center;
}

.title {
    text-align: center;
    margin-top: 30px;
    color: #1f73bd;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    overflow-x: auto;
    padding: 0 10px;
}

table {
    width: 80%;
    min-width: 600px;
    border-collapse: collapse;
    text-align: center;
}

th {
    background: linear-gradient(45deg, #8a5cf6, #1f73bd);
    color: black;
    padding: 12px;
  
}

td {
    padding: 12px;
    background: #1c1c1f;
    border: 1px solid #333;
}

tr:hover td {
    background: #2a2a30;
}

.done {
    color: #00ff88;
    font-weight: bold;
}

.progress {
    color: #ffcc00;
    font-weight: bold;
}

.unfinished {
    color: #ab0606;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

form fieldset {
    background: #2a2a35;
    border-radius: 10px;
    padding: 25px;
    padding-top: 40px;
    width: 300px;
    max-width: 90%;
}

form legend {
    font-size: 25px;
    text-align: center;
    color: #1f73bd;
    transform: translateY(15px);
}

form label {
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: right;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #1f73bd;
    border-radius: 5px;
    text-align: right;
    box-sizing: border-box;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: #1f73bd;
}

form input[type="submit"] {
    margin-top: 15px;
    background: #1f73bd;
    color: white;
    cursor: pointer;
}

footer {
  background: #4104d1;
  color: #ffffff;
  text-align: center;
  padding: 7px;
  margin-top: auto;
}

